.DS_Store
plugins
.idea/
tmux/tmux-cmus
lilypond/vim
.vim/autoload/*.vim
.vim/colors/*.vim
#.vim/syntax/*.vim
.vim/plugin/*.vim
beets/*.db
beets/*.log
beets/.cache
beets/beets.sh
beets/*.pickle
.ash_history
.netrwhist
*.log
